version: "3.8"

services:
  # Database PostgreSQL dengan pgvector
  db:
    image: pgvector/pgvector:pg17-trixie
    container_name: pg_database
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432" # port gunakan 5433 menghindari bentrok pada pgadmin local
    volumes:
      - ./docker/db_data:/var/lib/postgresql/data

  # Aplikasi Laravel (PHP-FPM)
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    depends_on:
      - db