@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;

    --radius: 0.75rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    /* Brand */
    --color-sada-red: #e30613;
    --color-sada-red-hover: #c20511;

    /* Mapping */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);

    --primary: oklch(0.205 0 0); /* slate gelap */
    --primary-foreground: oklch(0.985 0 0);

    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);

    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
}

.dark {
    --background: oklch(0.18 0 0);
    --foreground: oklch(0.98 0 0);

    --primary: oklch(0.98 0 0);
    --primary-foreground: oklch(0.2 0 0);

    --border: oklch(0.28 0 0);
}

@layer utilities {
    .bg-brand {
        background-color: var(--color-sada-red);
    }
    .text-brand {
        color: var(--color-sada-red);
    }
}
